{% extends 'base.html.twig' %}	
			{% block mainblock %}
				<div class="col-md-8 main-content">
				<!-- begin post post-2 post-gallery single-post -->
				{{ render(controller('ArticleBundle:View:showposts')) }}
					<!-- End post post-2 post-gallery single-post -->
					<div class="height_20"></div>
				</div><!-- End main-content -->
				{% endblock %}
				
	
	
