
<ul class="nav nav-list">
						<li>
							<a href="{{ path('categoryblog') }}">
								
								<span class="menu-text">{% trans from "category" %} category {% endtrans %} </span>
							</a>
						</li>	
						<li>
							<a href="{{ path('adminuser') }}">
								
								<span class="menu-text">{% trans from "user" %} user {% endtrans %}</span>
							</a>
						</li>	
						<li>
							<a href="{{ path('adminarticle') }}">
								
								<span class="menu-text">{% trans from "article" %} article {% endtrans %} </span>
							</a>
						</li>
						<li>
							<a href="{{ path('logout') }}">
								
								<span class="menu-text">{% trans from "public" %} logout {% endtrans %} </span>
							</a>
						</li>
						
						
					</ul>