<div class="post post-2 post-gallery single-post">
						<div class="post-type"><i class="fa fa-image"></i></div>
						<div class="post-author"><img alt="" src="{{ asset('uploadsarticle/') }}{{ data.image }}"></div>
						<div class="clearfix"></div>
						<div class="post-head"><h3>{{ data.name }}</h3>
							<div class="clearfix"></div>
						</div><!-- End post-head -->
						<div class="post-wrap">
							
							<div class="post-inner">
								
								  
								  <blockquote>
								  	<p>{{ data.description }}</p>
								  	
								  	<div class="clearfix"></div>
								  </blockquote><!-- End blockquote -->
								  
								  
								  
								<div class="clearfix"></div>
								
								<div class="clearfix"></div>
							</div><!-- End post-inner -->
						</div><!-- End post-wrap -->
					</div><!-- End post -->