<footer id="footer">
		<div class="container">
			<div class="copyrights">Copyright 2014 Logger | Designed By <a target="_blank" href="http://7oroof.com/">7oroof</a> | Developed By <a target="_blank" href="http://2code.info/">2code</a></div>
		</div><!-- End container -->
	</footer><!-- End footer -->