<head>

	<!-- Basic Page Needs -->
	<meta charset="utf-8">
	<title>Blogger</title>
	<meta name="description" content="Logger - Clean & Flat Blog HTML Template">
	<meta name="author" content="2code.info">
	
	<!-- Mobile Specific Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
	<!-- Main Style -->
	<link rel="stylesheet" href="{{ asset('css/style.css') }}">
	
	<!-- Skins -->
	<link rel="stylesheet" href="{{ asset('css/skins/skinsblog.css') }}">
	
	<!-- Responsive Style -->
	<link rel="stylesheet" href="{{ asset('css/responsiveblog.css') }}">
	
	<!-- Favicons -->
	<link rel="shortcut icon" href="{{ asset('images/favicon.png') }}">
  
</head>